.jumbotron{
    background-image: url('./img/cm.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 500px;
}

.jumbotronxl {
    background-image: url('./img/cm.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 697px;
}
.container-menu{
    margin: 5%
}
.menu{
    width: 20%;
    height: 140px;
    text-align: center;
    padding: 70px 0;
    font-size: large;
}
.hide{
    display: none;
}
.move {
    background-color: #0099FF;
    border-radius: .5em .5em 0em 0em;
}
.sounds {
    background-color: skyblue;
}
.cozmo-things {
    background-color: lightgoldenrodyellow;
}
.animations {
    background-color: lightseagreen;
    border-radius: 0em 0em .5em .5em;
}
.cubes {    
    background-color: lightgreen;
}

ul.submenu {
    list-style-type: none;
    margin-left: 200%;
    width: 100%;
    border-radius: .5em .5em .5em .5em;
}
li.subli {
    display: block;
    padding: 30px;
    text-decoration: none;
    text-align: center;
}
.stack{
    height: 60%;
    right: 5%;
}