<!--
    Para cada opcion del menu en keys.json, creamos un nuevo div
    
    El div contiene una lista de sub-opciones.
-->
<div class="general-menu">
    {{#menuOptions}}
    <div class="{{name}} menu">
        {{name}}
        <ul style="margin-top: -{{gap}}px;" class="{{name}} hide submenu">
            {{#options}}
            <li code="{{code}}" description="{{description}}" class="subli">
                {{ > modal}}
            </li>
            {{/options}}
        </ul>
    </div>
    {{/menuOptions}}

</div>